parameters:
    level: max
    paths:
        - src
        - tests

    treatPhpDocTypesAsCertain: false
    rememberPossiblyImpureFunctionValues: false
    checkMissingCallableSignature: true
    checkBenevolentUnionTypes: true
